body { font-family: Arial; background-color: rgb(177, 209, 187); }

h1 { font-family: Arial; color: rgb(94, 14, 14);  }

h2 { font-family: Serif; color: rgb(19, 21, 155); }

p { font-family: Courier; }