/* Body and background */
body { 
    margin: 0;
    font-family: 'Times New Roman', sans-serif;
    background : rgb(255, 255, 255);
}


/* Hero Section */
.hero {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    background-image: url('images/hero1.jpg');
    background-size: cover;
    background-position: center;
}


.hero h1 {
    font-size: 80px;
}

.hero p {
    font-size: 22px;
    color: white;
}

.subtext {
    font-size: 18px;
    color: white;
}


/* Peak hero section */


.peak-hero {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    color: white;
    background-size: cover;
    background-position: center;
    text-align: left;
    padding: 0 0 15vh 10vw;
}

.peak-hero h1 {
    font-size: 100px;
    color: white;
    font-family: 'Georgia', serif;
    font-weight: bold;
}

.peak-hero p{
    font-size: 30px;
    color: white;
    font-family: 'Georgia', serif;
    font-weight: bold;
}


/* makes the clickboxes for each peak one block without underlines */

.card-link {
    text-decoration: none; /* Removes the underline */
    color: inherit;        /* Keeps your black and gray text colors */
    display: block;       /* Ensures the whole card area is clickable */
}


/* Text colors for peak cards */
h2 { 
    color: #000000; 
}

p { 
    color: #5c5656; 
}

/* Peak grid layout */
.grid-container { 
    display: grid; 
    grid-template-columns: 1fr; 
    gap: 17px; 
    padding: 20px; 
}

@media (min-width: 768px) { 
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    } 
}

/* Peak cards */
.peak-card { 
    background-color: white; 
    border: 3px solid rgb(110, 70, 9); 
    border-radius: 10px; 
    padding-left: 18px;
    transition: transform 0.2s;
}

.peak-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.site-header {
    background-color: white;
    padding: 15px 30px;
    border-bottom: 1px solid #ddd;
}
.site-header a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Times New Roman', sans-serif;
}


.route-container {
    display: flex;
    gap: 20px;
    padding: 40px 20px;
    background-color: rgb(136, 124, 136);
    align-items: flex-start;  /* Add this line */
}

.stats-box {
    background-color: white;
    border: 2px solid rgb(110, 70, 9);
    border-radius: 8px;
    padding: 20px;
    max-width: 300px;
}

.description-box {
    background-color: white;
    border: 2px solid rgb(110, 70, 9);
    border-radius: 8px;
    padding: 20px;
    flex: 1;  /* Keep this so it takes remaining width */
}

footer {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
}

